/* Убираем фон автозаполнения инпутов для всех браузеров */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px transparent inset !important;
  -webkit-text-fill-color: #f7f4f3 !important;
  transition: background-color 5000s ease-in-out 0s;
}

/* + для Material UI */
.MuiTextField-root input:-webkit-autofill,
.MuiTextField-root input:-webkit-autofill:hover,
.MuiTextField-root input:-webkit-autofill:focus,
.MuiTextField-root input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px transparent inset !important;
  -webkit-text-fill-color: #f7f4f3 !important;
  border-radius: 4px;
}
